/* css reset rules */
header,
footer {
    height: auto;
}

main,
header,
footer,
aside {
    border-radius: 6px;
}

article,
aside {
    overflow-y: auto;
}

header {
    margin-bottom: 5px;
}

.logo {
    font-size: 3em;
    position: relative;
    top: 11px;
    left: 40px;
}

/* layout, BackGrounds, Colors */
:root {
    --green: #009879;
    --white: #ffffff;
    --grey: #fafafa;
    --black: rgb(99, 92, 92);
}

body,
main {
    display: flex;
}

body {
    flex-direction: column;
    background-color: var(--black)
}

main {
    flex-direction: row;
    flex: auto;
    background-color: var(--white)
}

article {
    flex: 2;
}

aside {
    flex: 1;
    background-color: var(--grey)
}

.my-class,
.button {
    background-color: var(--green);
    color: var(--white)
}

.my-class a {
    color: inherit;
}

/* navigation links style */
ul {
    position: relative;
    top: -10px;
    left: 100px;
}

ul li a {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

ul li a:hover {
    font-size: 1em;
}

/* Table */
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 650px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--green);
}

/* button */
.button {
    text-decoration: none;
    font-size: 1.1em;
    position: relative;
    top: 10px;
    border-radius: 5px;
    padding: 8px 15px;
    text-align: center;
}

/* Footer */
footer {
    margin-top: 5px;
}

footer p {
    text-align: center;
    font-size: .9em;
    margin: 8px auto;
    color: inherit;
}